.externalCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 1px #9c8b8a solid;

  border-radius: 50%;
}

.internalCircle {
  width: 12px;
  height: 12px;
  background-color: #502827;
  border-radius: 50%;
}
