.externalCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border: 1px #9c8b8a solid;
  background-color: #f0e7cf;

  border-radius: 50%;
}

.internalCircle {
  width: 12px;
  height: 12px;
  background-color: #502827;
  border-radius: 50%;
}
