.containerLogin {
  background: #fefaef;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 126px;
  padding-bottom: 179px;
}

.logoNaturelle {
  width: 182.48px;
  height: 56px;
  margin-bottom: 25px;
}

.containerLogin input {
  background: #fefaef;
}

.formLogin {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.buttonsFormLogin {
  margin-top: 15.5px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hyperlinksContainer {
  width: 342px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  margin-bottom: 31.5px;
}

.lineSeparator {
  width: 342px;
  border-top: solid 1px #1c0908;
  margin-bottom: 48.5px;
}

.paragraphForContainerIcons {
  font: "Roboto" normal 400 16px;
  color: #1c0908;
  margin-bottom: 16px;
}

.containerIcons {
  display: flex;
  gap: 48px;
}
