.coitainerLogin {
  height: 100vh;
  background: #fefaef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  padding-top: 126px;
}

.coitainerLogin img {
  margin-bottom: 25px;
}

.coitainerLogin input {
  background: #fefaef;
}
