* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cointainerInput {
  display: flex;
  flex-direction: column;
  gap: 8.5px;
  width: 342px;
  text-align: left;
}

.cointainerInput label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #694948;
}

.cointainerInput input {
  max-width: 342px;
  border: none;
  border-bottom: 1px solid #694948;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 7.5px;
  color: #694948;
}

.cointainerInput input::placeholder {
  color: #694948;
}

.cointainerInput input:focus {
  outline: none;
}

.cointainerInput p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #9c8b8a;
}
