.container {
  height: 100vh;
  background-color: #502827;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 144px;
}

.registrationConfirmation {
  padding-top: 48px;
  text-align: center;
  color: #fefaef;
  font-family: "Roboto";
  font-style: normal;
}

.registrationConfirmation h1 {
  font-size: 32px;
  padding-bottom: 10px;
}

.registrationConfirmation p {
  font-size: 16px;
}
