.container{
    margin-top: 50px;
}

.container h1 {
    display: flex;
    align-items: center;

    font: normal 700 26px 'Roboto';
    line-height: 120%;
    color: #1C0908;
    text-align: left;
    
    padding-left: 25px;
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    padding-left: 25px;
    padding-right: 25px;
    width: 100vw;    
    margin-top: 24px;
    
    overflow-y: hidden;
    white-space: nowrap;
}

.carousel::-webkit-scrollbar {
    height: 0;
}

.image-container {
    width: 208px;
    height: 208px;
    border-radius: 9px;
    position: relative;
}

.button-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: transparent;
    border: none;
    border-radius: 9px;

    font: normal 700 20px 'Roboto';
    line-height: 120%;
    color: #FCEFCA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}