.cardDescription,
.cardRating,
.cardPrice {
  font-family: "Roboto";
  font-style: normal;
}

.cardContentContainer,
.cardRating,
.cardContainer,
.cardDescription {
  display: flex;
}

.cardDescription {
  width: 220px;

  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: start;

  color: #694948;

  margin-top: 12px;
  margin-bottom: 0;
}

.cardContainer {
  box-sizing: border-box;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 18px;

  position: absolute;
  width: 390px;
  height: 144px;
  left: 0px;

  background: #fefaef;
  border: 1px solid rgba(240, 231, 207, 0.5);
}

.cardRating {
  width: 100%;
  height: 18px;

  margin: 10px 0 6px 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  color: #9c8b8a;

  align-items: flex-start;

  gap: 20px;
  align-items: center;
}

.cardImageContainer {
  width: 112px;
  height: 112px;
  left: 20px;
  top: calc(50% - 112px / 2 - 467px);

  border-radius: 8px;
  flex-shrink: 0;
}

.cardPrice {
  width: 81px;
  height: 24px;

  font-weight: 700;
  font-size: 20px;
  line-height: 120%;

  color: #332b27;

  margin: 0;

  text-align: start;
}

.cardContentContainer {
  flex-direction: column;
  justify-content: center;

  height: 112px;
}

.css-1hqq61j-MuiRating-root {
  font-size: 15px !important;
  gap: 4px;
}
