.pageMakerContainer {
  display: grid;
  background-color: #f0e7cf;
  min-height: 24px;
  place-items: center;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #9c8b8a;
  grid-row: 1;
  grid-column: 1;
}

.markers {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  gap: 32px;
}
