.CardImage{
  position: relative;
}

.CardImage img{
width: 100%;    
}

.boxText{
  position:absolute;
  bottom: 4px;
  background:#694948;
  mix-blend-mode: multiply;
  width: 100%;
  height: 80px;
}

#subtitle{
  position: absolute;
  text-align: left;
  top: 347px;
  right: 24px;
  left: 24px; 
  bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #FEFAEF; 
  opacity: 1;
}

