.header-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #FEFAEF;
  }
  
  .header-icon svg{
    margin-top: 4px;
    font-size: 30px;
    color: #1C0908;
  }
  
  .header-title {
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: #1C0908;
  }
  
  .header-title-secondary {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #1C0908;
    width: 100%;

  }