.carouselContainer {
  width: 341px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carouselImage {
  flex-shrink: 0;
  width: 341px;
  height: 333px;
  object-fit: cover;
}

.carouselImage.active {
  opacity: 1;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  border-radius: 10px;
  margin: 0 5px;

  width: 12px;
  height: 0px;
  border: 3px solid transparent;
  background-color: #a65b3f;
}

.indicator.active {
  background-color: #663422;
}
